<!DOCTYPE html>
<html lang="en">
<head>
  <!-- other head elements -->
  <title>Topics</title>
</head>
<body>
  <h1>Topics</h1>
  <ul>
    <% topics.forEach(function(topic) { %>
      <li><%= topic.top_name %></li>
    <% }); %>
  </ul>
</body>
</html>
